
<h2 *ngIf="!!knight">
  <span *ngIf="knight.isBrave">brave</span>
  <mark [style.background]="knight.color"> {{knight.name}}</mark> is ready to {{knight.quest}}!</h2>
<br>
<hr>
  <a [routerLink]="'goto/bridge'">to the bridge!</a>
  <a [routerLink]="'goto/monster'">If you brave, go fight a Monster!</a>

<router-outlet></router-outlet>
