<main class="app">
<h1>
  {{title}}
</h1>

<a [routerLink]="['knight',knight.name.toLowerCase()]" [routerLinkActive]="'active'" *ngFor="let knight of knights">{{knight.name}}</a>


<router-outlet>
  </router-outlet>
</main>
